* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  color: #000;
  background-color: #fff;
}

html {
  font-size: 10px;
  font-variant-ligatures: none;
}

body {
  background-color: #000;
  color: #fff;
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Space Mono', monospace;
  padding: 1rem;
  padding-bottom: 6rem;
}

.ready,
.ready a:hover {
  cursor: none;
}

#canvas {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  z-index: 2;
  user-select: none;
}

.cursor,
.fruit {
  position: absolute;
}

.cursor {
  margin-left: -10px;
  margin-top: -2px;
}

.cursor.self p {
  color: #000;
  background-color: #fff;
  font-size: 2rem;
  padding: 0 0.5rem;
}

.cursor img {
  width: 34px;
  height: 46px;
  image-rendering: pixelated;
}

.cursor p {
  text-align: center;
  font-size: 1.2rem;
}

.fruit {
  font-size: 5rem;
  animation: drop 3s ease-in forwards;
}

@keyframes drop {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(10000%);
  }
}

@keyframes pulse {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 980px) {
  html {
    font-size: 8px;
  }

  h1 {
    position: static;
    transform: none;
  }
}
